<h2 class="block-formSectionHeader">
	<span class="block-formSectionHeader-aligner">Contact link</span>
</h2>
<dl class="formRow">
	<dt></dt>
	<dl>
		<div class="link_row">
			<label for="link_enable">Enable link:</label>
			<input type="checkbox" id="link_enable" name="link_enable" value="1" />
			<input type="text" id="link_title" name="link_title" placeholder="Title"/>
			<input type="text" id="link_url" name="link_url" placeholder="URL"/>
			<label for="link_color">Link color:</label>
			<input type="color" id="link_color" name="link_color" placeholder="Color"/>
		</div>
		
	</dl>
</dl>

<style>
/* move to external */
	.link_row{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 15px;
	}
</style>